@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin:0px;
    padding:0px;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
    height:65px;
    background-color: black;
    color: aliceblue;
}

nav ul li{
    margin:0 10px;
}

.brand img{
    width:120px;
    height:150px;
}

#container{
    min-height: 80vh;
    background-color: black;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin:23px auto;
    width: 80%;
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    margin:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ===== Bottom Player ===== */
.bottom{
    position: sticky;
    bottom: 0;
    height:100px;
    background-color: black;
    color:white;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* progress bar */
#myprogressBar{
    width: 100%;
    cursor:pointer;
}

/* remove absolute positioning and align properly */
#songnameletter{
    position: static !important;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

/* controls */
.icons{
    position: static !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-size: 22px;
}

/* hover effect */
.icons i{
    cursor: pointer;
    transition: 0.25s;
}

.icons i:hover{
    color: #1db954;
    transform: scale(1.15);
}

/* main play button highlight */
#masterplay{
    font-size: 30px;
}

/* ===== Song List ===== */

img{
    width:50px;
    height:50px;
}

.songItem{
    display:flex;
    align-items: center;
    background-color: white;
    color:black;
    justify-content: space-around;
    height:50px;
    margin:10px 20px;
    border-radius: 35px;
    transition: 0.2s;
}

.songItem:hover{
    transform: scale(1.02);
}

.songItem img{
    margin:20px;
    border-radius: 35px;
}

.timestamp{
    margin:0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songitemcontainer{
    margin:40px 0;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 70px;
    background-color: black;
    color: white;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.bottom{
    align-items: center;
}

#songnameletter{
    position: static !important;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    align-self: flex-start;  
}

.icons{
    position: static !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-size: 22px;
    margin-top: -20px;   
}

.icons i{
    cursor: pointer;
    transition: 0.2s;
}

.icons i:hover{
    color: #1db954;
    transform: scale(1.15);
}


#masterplay{
    font-size: 30px;
}
#songnameletter{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.5px;
    
    text-shadow: 0 0 8px rgba(29,185,84,0.6);
    
 
    margin-top: 5px;
}



#songnameletter:hover{
    color: #1db954;
    transform: scale(1.03);
}

#songnameletter{
    display: block;
    width: 100%;
    text-align: left;
    
    margin-top: 4px;
    padding-left: 5px;

    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.5px;

    text-shadow: 0 0 6px rgba(29,185,84,0.5);
}